*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #eee;
  padding: 3rem;
  line-height: 1.8rem;
  overflow-x: hidden; }

.container {
  color: #000;
  border-radius: .5rem;
  padding: .5rem .2rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); }
  .container--bg {
    width: 100%; }
  .container__home {
    margin: 1.5rem 1rem; }
    .container__home--title {
      padding: 3rem;
      text-align: center;
      font-weight: 100;
      font-family: 'Times New Roman', Times, serif; }
    .container__home__banners {
      grid-column: 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      align-items: center;
      align-content: center;
      grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 2rem;
      grid-row: 1 / span 3; }
      .container__home__banners--1 {
        box-shadow: 0 0 0.5rem #000;
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem; }
        .container__home__banners--1--h1 {
          font-size: 2.3rem;
          font-family: 'Times New Roman', Times, serif;
          font-style: oblique;
          font-weight: 200;
          padding: 1rem 0;
          letter-spacing: .1rem;
          color: #ff6600; }
        .container__home__banners--1--p1 {
          font-size: 1.2rem;
          font-style: 1.3rem;
          font-weight: 100;
          letter-spacing: .1rem;
          line-height: 1.6; }
      .container__home__banners--2 {
        box-shadow: 0 0 0.5rem #000;
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem; }
        .container__home__banners--2--h2 {
          font-size: 2.3rem;
          font-family: 'Times New Roman', Times, serif;
          font-style: oblique;
          font-weight: 200;
          padding: 1rem 0;
          letter-spacing: .1rem;
          color: #0000ff; }
        .container__home__banners--2--p2 {
          font-size: 1.2rem;
          font-style: 1.3rem;
          font-weight: 100;
          letter-spacing: .1rem;
          line-height: 1.6; }
      .container__home__banners--3 {
        box-shadow: 0 0 0.5rem #000;
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem; }
        .container__home__banners--3--h3 {
          font-size: 2.3rem;
          font-family: 'Times New Roman', Times, serif;
          font-style: oblique;
          font-weight: 200;
          padding: 1rem 0;
          letter-spacing: .1rem;
          color: #ffff00; }
        .container__home__banners--3--p3 {
          font-size: 1.2rem;
          font-style: 1.3rem;
          font-weight: 100;
          letter-spacing: .1rem;
          line-height: 1.6; }

@keyframes momeInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translate(0); } }

@keyframes momeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translate(0); } }

.footer {
  background-color: rgba(0, 153, 255, 0.5);
  height: 5rem;
  margin-bottom: -.4rem;
  width: 100%;
  margin-top: -.2rem; }
  .footer__paragraph {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem 0 0 0;
    font-weight: 100;
    text-shadow: 0 0 0.3rem lightgreen;
    letter-spacing: .1rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique; }

.heading {
  position: relative;
  background-blend-mode: multiply;
  clip-path: polygon(0 0, 100% 0, 100% 400px, 0 100%);
  height: 95vh;
  margin-top: -.3rem; }
  .heading__image img {
    width: 100%; }
    @media (max-width: 26.5625em) {
      .heading__image img {
        height: 453px; } }
  .heading__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .heading__title--sub-title {
      color: #fff;
      letter-spacing: .5rem;
      text-transform: uppercase;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100; }
      .heading__title--sub-title--1 {
        display: block;
        text-align: center;
        padding: 1rem 0;
        animation: moveInRight .3s;
        font-weight: 200;
        font-size: 1.5rem; }
        .heading__title--sub-title--1::first-letter {
          color: cornflowerblue;
          font-size: 1.7rem; }
      .heading__title--sub-title--2 {
        display: block;
        padding: .7rem 0;
        font-weight: 100;
        animation: moveInRight .3s;
        font-size: 1.4rem; }
      .heading__title--sub-title--3 {
        background-color: #0099ff;
        padding: .5rem;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        border-radius: 1rem;
        color: #fff;
        text-decoration: none;
        margin: 1rem 0 0 auto;
        display: block;
        transition: all .5s;
        font-weight: 100; }
        @media screen and (max-width: 768px) {
          .heading__title--sub-title--3 {
            font-weight: 100; } }
        .heading__title--sub-title--3:hover {
          transform: scale(1.1);
          box-shadow: 0 0 0.5rem #000; }

.container__showcase {
  position: relative; }
  .container__showcase__header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .container__showcase__header--title {
      color: #fff;
      padding: 1rem 0;
      margin-bottom: 2rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100; }
    .container__showcase__header__content {
      grid-column: 2;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 2rem;
      grid-row: start;
      align-items: center; }
      .container__showcase__header__content--1 {
        padding: 1rem 0; }
        .container__showcase__header__content--1--info {
          color: #fff;
          letter-spacing: .1rem;
          font-size: 1.3rem;
          font-family: 'Times New Roman', Times, serif;
          padding: .5rem 0;
          font-weight: 100;
          text-transform: uppercase;
          font-style: oblique; }
        .container__showcase__header__content--1--icons--icon {
          text-decoration: none;
          width: 3rem;
          height: 3rem;
          padding: 1rem .2rem;
          transition: all .3s; }
          .container__showcase__header__content--1--icons--icon:hover {
            transform: scale(1.2); }
      .container__showcase__header__content--2 {
        position: relative; }
        .container__showcase__header__content--2--img {
          border-radius: 50%;
          box-shadow: 0 0 0.5rem #000; }
        .container__showcase__header__content--2--1 {
          position: absolute;
          top: 80%;
          left: 40%;
          padding: .5rem 1.5rem;
          border-radius: .5rem;
          background-color: #0099ff;
          font-weight: 300;
          color: #fff;
          text-transform: uppercase;
          text-shadow: 0 0 0.4rem #000;
          letter-spacing: .1rem;
          transform: skew(4deg, 2deg);
          cursor: pointer;
          transition: all .2s; }
          .container__showcase__header__content--2--1:hover {
            transform: scale(1.1);
            box-shadow: 0 0 0.5rem #000;
            transform: skew(5deg, 3deg); }

.twitter {
  fill: #0099ff; }

.facebook {
  fill: #0000ff; }

.pinterest {
  fill: grey; }

.youtube {
  fill: #f00; }

/*
0 - 600px:             Phone
600 - 900px:         Tablet portrait
900 - 1200px:       Tablet landscape
[1200 - 1800]        is where our normal styles apply
1800 + :                Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
.reveal-item {
  opacity: 0;
  transition: opacity 1.5s ease-out; }
  .reveal-item--is-visible {
    opacity: 1; }
