*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    // @include responsive(phone){
    //     font-size: 50%;
    // }

    // @include responsive(tab-port){
    //     font-size: 60%;
    // }

    // @include responsive(tab-land){
    //     font-size: 70%;
    // }

    // @include responsive(big-desktop){
    //     font-size: 80%;
    // }
   
}

body{
    background-color: #eee;
    padding: 3rem;
    line-height: 1.8rem;
    // overflow: scroll;
    overflow-x: hidden;

    
}

