.container{
    color: $color-black;
    border-radius: .5rem;
    padding: .5rem .2rem;
    overflow: hidden;
    background-color: #ddd;
    &--bg{
        width: 100%;
        height: auto;
        clip-path: polygon(55% 0, 100% 0, 100% 100%, 0 100%, 0 37%);
    
        @media (max-width: 375px){
            clip-path: polygon(55% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
            
            height: 200vh;
            margin-bottom: -19rem;
            
        }
    }

    &__home{
        margin: 1.5rem .5rem;
        &--title{
            padding: 3rem;
            text-align: center;
            font-weight: 100;
            font-family: 'Times New Roman', Times, serif;
            @media (max-width: 375px){
                font-size: 1.5rem;
            }
        }
        &__banners{
            grid-column: 3;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            align-items: center;
            align-content: center;
            grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
            gap: 2rem;
            @media (max-width: 768px){
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            }
            // grid-row: 1 / span 3;
            
            &--1{
                // box-shadow: 0 0 .5rem $color-black;
                background-color: $color-white;
                padding: 1rem;
                border-radius: .5rem;
                &--h1{
                    font-size: 2.3rem;
                    font-family: 'Times New Roman', Times, serif;
                    font-style: oblique;
                    font-weight: 200;
                    padding: 1rem 0;
                    letter-spacing: .1rem;
                    color: $color-coral;
                }

                &--p1{
                    font-size: 1.2rem;
                    font-style: 1.3rem;
                    font-weight: 100;
                    letter-spacing: .1rem;
                    line-height: 1.6;
                }
            }

            &--2{
                // box-shadow: 0 0 .5rem $color-black;
                background-color: $color-white;
                padding: 1rem;
                border-radius: .5rem;
                &--h2{
                    font-size: 2.3rem;
                    font-family: 'Times New Roman', Times, serif;
                    font-style: oblique;
                    font-weight: 200;
                    padding: 1rem 0;
                    letter-spacing: .1rem;
                    color: $color-blue;
                }

                &--p2{
                    font-size: 1.2rem;
                    font-style: oblique;
                    font-weight: 100;
                    letter-spacing: .1rem;
                    line-height: 1.6;
                }
            }

            &--3{
                // box-shadow: 0 0 .5rem $color-black;
                background-color: $color-white;
                padding: 1rem;
                border-radius: .5rem;
              

                &--h3{
                    font-size: 2.3rem;
                    font-family: 'Times New Roman', Times, serif;
                    font-style: oblique;
                    font-weight: 200;
                    padding: 1rem 0;
                    letter-spacing: .1rem;
                    color: $color-yellow;
                }

                &--p3{
                    font-size: 1.2rem;
                    font-style: 1.3rem;
                    font-weight: 100;
                    letter-spacing: .1rem;
                    line-height: 1.6;
                }
            }
        }
    }

}




@keyframes momeInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        transform: translate(0);
    }
}


@keyframes momeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        transform: translate(0);
    }
}