// Color palettes
$color-black: #000;
$color-white: #fff;
$color-lightgreen: lightgreen;
$color-grey: grey;
$color-grey-light: #eee;
$color-grey-dark: #777;
$color-grey-darken: #4d4d4d;
$color-red: #f00;
$color-red-crimson: crimson;
$color-red-dark: #cc0000;
$color-blue: #0000ff;
$color-sky-blue: #0099ff;
$color-blue-dark: #3366ff;
$color-green: #00cc00;
$color-coral: #ff6600;
$color-yellow: #ffff00;
$color-blue-cyan: #00ccff;
